<div class="form">
    <mat-card-title>Payment App</mat-card-title>
<form [formGroup]="form">
<div class="long-field">

<mat-form-field>
    <input matInput id="ccNumber" #input maxlength="16" placeholder="Credit Card Number" formControlName="creditCardNumber">
    <mat-hint align="end">{{input.value?.length || 0}}/16</mat-hint>
</mat-form-field>

<mat-form-field>
    <input matInput id="cardHolder" placeholder="Card Holder" formControlName="cardholder">
</mat-form-field>

<mat-form-field>
    <input matInput type="month" id="expDate" placeholder="Exp. Date" formControlName="expirationDate">
</mat-form-field>

<mat-form-field>
<input matInput id="expDate" #input maxlength="3" placeholder="CVC" formControlName="securityCode">
</mat-form-field>

<mat-form-field>
    <input matInput id="amount" #input min="0" placeholder="Amount" formControlName="amount">
</mat-form-field>

<button mat-flat-button color="primary">Send payment <mat-icon aria-hidden="false">flight_takeoff</mat-icon></button>

</div>
</form></div>
